body {
    --main__card--blue: rgb(0,123,255);
    --main__card--yellow: rgb(255,193,7);
    --main__card--green: rgb(40,167,69);
    --main__card--red: rgb(220,53,69);
}

/** hesder - Hozz létre az oldalon egy header elemet.
A css osztálya "header--dark" legyen.
Háttérszín: 51,57,64
Kitöltőszín: 236,236,236  */

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236,236,236);
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.header__title {
    font-size: 1.25rem;
    display: inline;
    flex: 70%;
}

.header__search {
    display: inline;
    flex: 30%;
}



/** main - Hozd létre main elemet, a header alá. 
Legyen benne egy aside elem.
Mellette egy section elem, "content" oszállyal. */
main {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
}



/** Aside - Legyen benne egy nav elem, "main__nav" oszállyal.
Legyen a háttérszíne 33,37,41
Legyen benne egy ul elem, "nav__ul" osztállyal.  */

.main__aside {
   background-color: rgb(33,37,41);
    width: 20%;
    height: auto;
    float: left;
    box-sizing: border-box;
}

.main__nav {
    
}

.nav__ul {

}


/** Section - Legyen a tetején h1 elem "Dashboard" tartalommal.
Alatta legyen egy breadcrumb, ez egy div legyen, "main__breadcrumb" osztállyal.
Háttérszíne 233,236,239 legyen.  */
.content {
    width: 80%;
    float: right;
    padding-left: 15px;
    box-sizing: border-box;
    
}



.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}


.main__cards {
  
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0;
  
}

.main__card {
    box-sizing: border-box;
    margin: 0;
    float: left;
    width: 25%;
    padding: 20px;
    
}

.card__top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    
    padding: 20px;
    font-size: 1.2rem;
}

.card__bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: .25rem;
    
    padding: 20px;
}

.main__card--blue {
    background-color: var(--main__card--blue);
}

.main__card--yellow {
    background-color: var(--main__card--yellow);
}

.main__card--green {
    background-color: var(--main__card--green);
}

.main__card--red {
    background-color: var(--main__card--red);
}