body {
    --main__card--blue: rgb(0,123,255);
    --main__card--yellow: rgb(255,193,7);
    --main__card--green: rgb(40,167,69);
    --main__card--red: rgb(220,53,69);
    padding: 2rem;
    font-family: sans-serif;
}

/** hesder - Hozz létre az oldalon egy header elemet.
A css osztálya "header--dark" legyen.
Háttérszín: 51,57,64
Kitöltőszín: 236,236,236  */

.header--dark {
    background-color: rgb(51, 57, 64);
    color: rgb(236,236,236);
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.header__title {
    font-size: 1.25rem;
    display: inline;
    flex: 20%;
    padding-left: 1.2rem;
}

.header__bars {
    display: inline;
    flex: 50%;
    float: left;
    color: rgb(156, 156, 156);
    font-size: 1rem;
    margin-top: 1.5rem;
}

.header__search {
    display: inline;
    flex: 30%;
    margin: auto;
}

.search__input {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: .75rem .375rem;
    font-size: 1.2rem;
    
    
}

.search__btn {
    background-color: rgb(0,123,255);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    height: 1.95rem;
    padding: 0;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    margin-left: -.25rem;
}

.header__user {
    color: rgb(156, 156, 156);
    font-size: 1.5rem;
    margin-left: 1rem;
}

.header__caret {
    color: rgb(156, 156, 156);
    margin-top: .6rem;
}



/** main - Hozd létre main elemet, a header alá. 
Legyen benne egy aside elem.
Mellette egy section elem, "content" oszállyal. */
main {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  min-height: 35rem;
  border-bottom: rgb(184, 184, 184) solid .2px;
  border-right: rgb(184, 184, 184) solid .2px;
}



/** Aside - Legyen benne egy nav elem, "main__nav" oszállyal.
Legyen a háttérszíne 33,37,41
Legyen benne egy ul elem, "nav__ul" osztállyal.  */

.main__aside {
    background-color: rgb(33,37,41);
    width: 20%;
    height: auto;
    float: left;
    box-sizing: border-box;
}

.main__nav {
    
}

.nav__ul {
 
 line-height: 150%;
 font-size: 1.2rem;
 list-style: none;
}

.white {
    color: rgb(255, 255, 255);
}

.gray {
    color: rgb(134, 134, 134);
}

.darkgray {
    color: rgb(102, 102, 102); 
}

li {
    
}


/** Section - Legyen a tetején h1 elem "Dashboard" tartalommal.
Alatta legyen egy breadcrumb, ez egy div legyen, "main__breadcrumb" osztállyal.
Háttérszíne 233,236,239 legyen.  */
.content {
    width: 80%;
    float: right;
    box-shadow: -4px 0 8px 0 rgb(218, 218, 218) inset;
    box-sizing: border-box;  
}

h1 {
    padding-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 3rem;
    color: rgb(33,37,41);
}

.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h4{
    margin: 0;
    color: rgb(187, 187, 187);
}

.main__cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1.5rem;
  box-sizing: border-box;
  
  padding: 1.5rem;
  
}

.main__card {
    box-sizing: border-box;
   
    color: rgb(236,236,236);
    
}

.card__top {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom: .5px solid rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    font-size: 1rem;
}

.card__bottom {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    font-size: .8rem;
    padding: 20px;
}

.main__card--blue {
    background-color: var(--main__card--blue);
}

.main__card--yellow {
    background-color: var(--main__card--yellow);
}

.main__card--green {
    background-color: var(--main__card--green);
}

.main__card--red {
    background-color: var(--main__card--red);
}